/* Todo Dialog Form */
.todo-dialog {
  border: 1px solid var(--blue);
  background-color: var(--semi-white);
  border-radius: 12px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.todo-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

/* Todo Item Description Dialog */
.todo-item-dialog {
  border: 1px solid var(--blue);
  background-color: var(--semi-white);
  border-radius: 12px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.todo-description-container {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
  height: 400px;
  padding: 10px;

  border: 1px solid var(--blue);
  border-radius: 12px;
}

.content {
  padding: 20px;
}

/* Content Header */
.content-header {
  margin-bottom: 20px;
}

.content-project-name {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.add-todo-btn {
  border: 0;
  width: 120px;
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 8px;
  background-color: var(--light-blue);

  color: var(--semi-white);
  font-weight: 600;
}

.add-todo-btn:hover {
  cursor: pointer;
}

/* Todo Container */
.todo-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  background-color: var(--sky-blue);
  padding: 10px 20px;
  border-radius: 24px;
}

.todo-item-content {
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
  align-items: center;

  border-radius: 16px;
  padding: 10px;
  transition: 0.2s;
}

.todo-item-content h4 {
  width: 215px;
}

.todo-item-content:hover {
  cursor: pointer;
  background-color: var(--pale-blue);
  transition: 0.2s;
}

.todo-priority-container {
  text-align: center;
  width: 100px;
  padding: 5px;
  border-radius: 24px;
}
