/* 
:root {
   --blue: #1b56fd;
  --light-blue: #60b5ff;
  --sky-blue: #afddff;
  --pale-blue: #c6e7ff;
  --semi-white: #fbfbfb;
  --light-red: #eabebe;
  --dark-red: #af6d6d;
} */

.project {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
}

.project-content {
  width: 210px;
  padding: 5px;
  border-radius: 8px;
  background-color: var(--light-blue);
}

.project-content h3 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete-project-container {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--light-red);
  border-radius: 8px;
}

.project-content:hover {
  cursor: pointer;
  background-color: var(--pale-blue);
}

.delete-project-container:hover {
  cursor: pointer;
  background-color: var(--dark-red);
}
